.swiper {
  width: 100px;
  height: 100px;
}

/* arrows */
/* body .swiper-button-prev::after,
body .swiper-button-next::after {
  color: rgb(5, 138, 255);
  font-size: 80px;
} */

body .swiper-slide {
  overflow: hidden;
  object-fit: cover;
}

body .swiper-slide img {
  /* width: 100%; */
}
/* #region pagination*/
body .swiper-pagination {
  padding-bottom: 100px;
}
body .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #ff00fb;
}

body .swiper-pagination-fraction {
  font-size: 20px;
  color: rgb(109, 109, 179);
}

body .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #00c3ff;
}
/* #endregion */

body .swiper-scrollbar-drag {
  cursor: pointer;
  background-color: rgb(238, 255, 0);
}
